body {
    margin: 0;
    background-image: url(images/fondoMevo.png);
    background-size: 700px;
    background-color: rgb(237, 220, 199);
}
.container {
    background-color: #fafafa10;
    backdrop-filter: blur(0.4rem);
    height: 400px;
    max-width: 600px;
    min-width: 100px;
    top: 200px;
    margin: 0px 20px 0px 30%;
    padding-top: 20px;
    position: absolute;

}


.titulo {
    background-color:rgba(237, 220, 199, 0.482);
    backdrop-filter: blur(0.4rem);
    height: 100px;
    width: 500px;
    margin: 0px 20px 0px 33%;
    text-align: center;
}

h1 {
    color: rgb(65, 40, 0);
    margin: 15px 20px 0px 80px;
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.formularios {
    border: 1px solid rgb(255, 0, 0);
    height: 50px;
    width: 500px;
    min-width: 300px;
    margin: 0px 0px 25px 50px ;
    position: relative;
}

p {
    margin: 0px 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: light;
    font-size: 14px;
}


.add {
    color: rgb(65, 40, 0);
    border: 1px solid black;
    height: 50px;
    width: 200px;
    display: block;
    position: relative;
    margin: 10px 0px 10px 200px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
}

.add:hover {
    background-color: blueviolet;
}


.iframe-header {
    height: 70px;
    width: 100%;
}


@media (max-width:800px) {
    
.container {
    background-color: #fafafa10;
    backdrop-filter: blur(0.4rem);
    height: 230px;
    width: 350px;
    top: 200px;
    margin: 0px 20px 0px 5%;
    padding-top: 20px;
    position: absolute;
}   
    
    
.formularios {
    border: 1px solid rgb(255, 0, 0);
    height: 50px;
    width: 10px;
    margin: 0px 0px 25px 20px ;
    position: relative;
}

.add {
    color: rgb(65, 40, 0);
    border: 1px solid black;
    height: 50px;
    width: 200px;
    display: block;
    position: relative;
    margin: 10px 0px 10px 70px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
}

h1 {
    font-size: 30px;
    margin: 30px 20px 0px 50px;
}
    
.titulo {

    height: 100px;
    width: 300px;
    top: 80px;
    margin: 0px 20px 0px 50px;
    position: absolute;
    
}

.cuerpo {
    border: 1px solid black;
    height: 50px;
    width: 100px;
    margin: 50px 0px 25px 100px ;
    /* top: 300px;
    left: 500px; */
    position: relative;
    }

}
